.main{
	flex:1;
	overflow-y: auto;
}
.cityTile .hCity{
	width: 100%;
	height: 0.8rem;
	padding-left: 0.3rem;
	font-size: 0.28rem;
	line-height: 0.8rem;
	background-color: #ebebeb;
	color: #333;
	font-weight: 100;
	transition: all 3s;
}
.cityTile ul{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background: #fff;
}
.cityTile li{
	width: 25%;
	text-align: center;
	height: 0.94rem;
	line-height: 0.94rem;
	font-size: 0.32rem;
	cursor: pointer;
    color: #838383;
    border-bottom: #ebebeb 1px solid;
}
.cityTile li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #838383;
	text-decoration: none;
}
