.form{
	width: 100%;
	padding: 0 0.62rem;
	margin-top: 0.3rem;
}
.form input{
	width: 100%;
	height: 0.68rem;
	border: 0;
}
.form input[type="password"]{
	margin-top: 0.6rem;
}
.form button{
	width: 3.26rem;
	height: 0.76rem;
	border-radius: 0.38rem;
	background: #fe8233;
	border: 0;
	margin: 0 auto;
	margin-top: 0.9rem;
	display: block;
}
